<!DOCTYPE html>
<html>
<head>
  <title>First</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div style="height: 50px; background-color: green;">
		Xyz.com
	</div>
<%= yield %>
<div style="height: 50px; background-color: green;">
		Copyrights @ mindfiresolution.com
	</div>
</body>
</html>
